include ../../common-components/head/head.pug

doctype html
html
	+head('pug-sass-seed')
	body
		.page-title-and-image
			.page-title
				| pug-sass-seed
			.mineral
		nav
			a.nav-item(href='/index.html')
				| pug-sass-seed
			a.nav-item(href='/page-one.html')
				| page-one
