include ../../common-components/head/head.jade

doctype html
html
	+head( 'page-one' )
	body
		.page-title-and-image
			.page-title 
				| page-one
			.mineral
		nav
			a.nav-item( href='/index.html' )
				| jade-sass-seed
			a.nav-item( href='/page-one.html' )
				| page-one
