@import 'common-styles/reset';
@import 'common-styles/variables';
@import 'common-styles/breakpoints';
@import 'common-styles/extends';
@import 'common-styles/base';

@import 'pages/index/index.scss';
@import 'pages/page-one/page-one.scss';
