// Reset

*
{
	flex-flow: column;
	flex-shrink: 0;

	display: flex;
	box-sizing: border-box;
	position: relative;
}

script,
style,
title
{
	display: none;
}

html,
body
{
	margin: 0;
	padding: 0;
}

ul
{
	margin: 0;
	padding: 0;

	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5
{
	margin: 0;

	font-weight: normal;
}

p
{
	margin: 0;
}
